.album {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @blue;
  background-color: @white;
}

.album h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @blue;
}

.album__item {
  background-color: @grey;
}

.album__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @blue;
}

.album__time {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @blue;
}

.album__likes {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: @red;
}
