.benefits {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @blue;
  background-color: @grey;
}

.benefits__title {
  margin: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: @blue;
  background-color: @white;
}

.benefits__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}
.benefits {
  background-color: yellow;
}

.benefits__wrapper {
  .container();
  height: 1000px;
  background-color: purple;
}

@media @tablet-widths {

  .benefits__wrapper {
    height: 1100px;
  }

}

@media @desktop-widths {

  .benefits__wrapper {
    height: 1360px;
  }

}
