.form {
  background-color: @white;
}

.form h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @blue;
}

.form legend {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @red;
}

.form__achievements,
.form__app {
  background-color: @grey;
}

.form__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @blue;
}

.form__legend sup {
  color: @red;
}




