.form {
  background-color: @white;
}

.form__section--grey {
  background-color: @grey;
}

.form__section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @red;
}

.form__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @blue;
}

.form__legend sup {
  color: @red;
}

.form__wrapper {
  .container();
  height: 2235px;
  background-color: purple;
}

@media @tablet-widths {

  .form__wrapper {
    height: 2445px;
  }

}

@media @desktop-widths {

  .form__wrapper {
    height: 1465px;
  }

}


