.image-editor {
  background-color: @white;
}

.image-editor h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @blue;
}

.image-editor__field {
  background-color: @grey;
}
